/*鼠标经过 图片放大*/
.movieImg{
  cursor: pointer;
  transition: all 0.6s;
}
.movieImg:hover{
  transform: scale(1.4);
}
/* chrome 下字体过小的问题 */
.fn-webkit-adjust {
  -webkit-text-size-adjust: none;
}
/* placeholder颜色*/
::-webkit-input-placeholder { /* WebKit browsers */
  color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #999;
}
